
  <div class="schedule-menu text-center">
            <div class="col-xs-2">
                <a href="#/home">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="col-xs-8">
                <a href="#">
                    Sponsors
                </a>
            </div>
            <div class="col-xs-2">
                <a href="#">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
<!--<div class="scrollable">  -->
  <div class="scrollable-content">
<!--<div class="main-section">-->
        <!--speakers top starts-->
      
        <!--speakers top starts-->
        <div class="clearfix"></div>
        <!--====Content starts====-->
        <div class="menu-items" style="margin-bottom:50px;">
            <div class="speakers-main">
                <div class="blogShort">
                    <a href="sponsors-profile.html">
                        <img src="images/sp1.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>ICNA Relief</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp2.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Azzad Asset Management, Inc.</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp3.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Guidance Residential, LLC</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp4.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Helping Hand for Relief and Development</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp5.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>1-877-WHYISLAM</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp6.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Crescent Foods</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp7.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Amana Mutual Funds Trust</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="blogShort">
                    <a href="#">
                        <img src="images/sp8.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Islamic Relief USA</h4>
                    </article>
                    <div class="clearfix"></div>
                </div><div class="blogShort">
                    <a href="#">
                        <img src="images/sp8.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Islamic Relief USA</h4>
                    </article>
                    <div class="clearfix"></div>
                </div><div class="blogShort">
                    <a href="#">
                        <img src="images/sp8.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Islamic Relief USA</h4>
                    </article>
                    <div class="clearfix"></div>
                </div><div class="blogShort">
                    <a href="#">
                        <img src="images/sp8.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Islamic Relief USA</h4>
                    </article>
                    <div class="clearfix"></div>
                </div><div class="blogShort">
                    <a href="#">
                        <img src="images/sp8.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    </a>
                    <article>
                        <h4>Islamic Relief USA</h4>
                    </article>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <!--====Content Ends====-->
    </div>
<!--
    </div>
</div>-->
