  <div class="schedule-menu text-center">
            <div class="col-xs-2">
                <a href="#/home">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
            <div class="col-xs-8">
                <a href="#/googlemap">
                    Map
                </a>
            </div>
            <div class="col-xs-2 filterr" id="filterr" ng-click="showMapFilter()">
                <a href="">
                    <span class="glyphicon glyphicon-filter"></span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    <div class="scrollable-content map_scrollable" >
       <div class="map-section" style="margin-bottom:50px;">
				<div class="store_map">
                    <div id="store_list">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
					</div>
           	</div>
        </div>
    </div>
 <div class=" navbar-app navbar-absolute-bottom">
            <div class="sub-footer-tabs">
                <ul>
                    <li class="active">
                        <a href="">Full Schedule</a>
                    </li>
                    <li>
                        <a href="">My Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
<div class="fliterBar storeMobileSideBar_in" id="mapFilterSidebar">
    <div class="filter_menu">
        <p>Filter</p>
        <ul>
            <li ng-click="selectedOpt($index)" ng-repeat="o in mapFilterOpts" ng-class='{active: $index==selectedRow}'>{{o}}</li>
        </ul>
    </div>
</div>
