<div class="scrollable">  
  <div class="scrollable-content" >
        <div class="text-center logo" >
            <a href="">
                <img src="images/logo.jpg" alt="icna logo" width="100%" />
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="menu-items" >
            <div class="menu-sub text-center">
                <div class="col-md-4 col-xs-4 ind text-center">
                    <a href="#/schedule">
                        <img src="images/schedule_1.png" alt="schedule" />
                    </a>
                    <p>Schedule</p>
                </div>
                <div class="col-md-4 col-xs-4 ind text-center" >
                    <a href="#/speakers">
                        <img src="images/speakers_1.png" alt="Speakers" />
                    </a>
                    <p>Speakers</p>
                </div>
                <div class="col-md-4 col-xs-4 ind text-center"  ng-click="twitterlogin();">
                    <a href="">
                        <img src="images/twitter_1.png" alt="Twitter" />
                    </a>
                    <p>Twitter</p>
                </div>
                <div class="col-md-4 col-xs-4 ind text-center">
                    <a href="#/googlemap">
                        <img src="images/map_1.png" alt="Map" />
                    </a>
                    <p>Map</p>
                </div>
                <div class="col-md-4 col-xs-4 ind text-center">
                    <a href="#/about">
                        <img src="images/about_1.png" alt="Speakers" />
                    </a>
                    <p>About</p>
                </div>
                <div class="col-md-4 col-xs-4 ind text-center">
                    <a href="#/exhibitors">
                        <img src="images/exhibitors_1.png" alt="exhibitors" />
                    </a>
                    <p>Exhibitors</p>
                </div>
                <div class="col-md-4 col-xs-4 ind text-center" >
                    <a href="#/sponsors">
                        <img src="images/sponsors_1.png" alt="sponsors" />
                    </a>
                    <p>Sponsors</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="icna-search text-center">
            <a href="#">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-stop"></span>
            </a>
        </div>
        <div class="clearfix"></div>
  </div>
</div>